:root {
  --avatar-size: 36px;
  --avatar-dropdown-color: rgb(250, 250, 255);
  --avatar-separator-color: rgb(236, 241, 240);
}
.avatar {
  position: relative;
  width: var(--avatar-size);
  height: var(--avatar-size);
}
.avatar img {
  width: var(--avatar-size);
  height: var(--avatar-size);
  border-radius: 50%;
}
.avatar.on::after {
  content: "";
  width: 0;
  height: 0;
  border-top: 0.84rem solid transparent;
  border-bottom: 0.84rem solid transparent;
  border-left: 0.5rem solid var(--avatar-dropdown-color);
  margin-right: -0.5rem;
  position: absolute;
  right: calc(100% - 14px);
  bottom: -18px;
  transform: rotate(-90deg);
}
.avatar-menu {
  display: none;
  position: absolute;
  min-width: 150px;
  right: 0;
  top: calc(var(--avatar-size) + 9px);
  background: var(--avatar-dropdown-color);
  padding: 0.4rem 0;
  -webkit-box-shadow: 0px 2px 4px 0px rgba(190, 176, 176, 0.5);
  -moz-box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.5);
  box-shadow: 1px 1px 2px 1px rgba(187, 184, 184, 0.5);
}
.avatar.on .avatar-menu {
  display: block;
}
.avatar-menu li {
  display: block;
  white-space: nowrap;
  border-bottom: 1px solid var(--avatar-separator-color);
}

.avatar-menu li:last-child {
  border-bottom: none;
}
.avatar a {
  text-decoration: none;
  font-size: 80%;
  padding: 0.4rem;
  color: #333;
  line-height: 2em;
  display: block;
}
.avatar-menu a:hover {
  background: var(--avatar-separator-color);
}
