:root {
  --navbar-bg-color: #2b7a78;
}
.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: var(--navbar-bg-color);
  color: #f1f1f1;
  padding: 0.4rem 0.4rem;
  filter: drop-shadow(0 0 2px 0 rgb(22, 7, 47));
  box-shadow: 0 0 4px #999;
}
.menu {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.navbar .right-controls {
  display: flex;
  align-items: center;
  padding-right: 0.4rem;
  justify-content: center;
}
.navbar .right-controls > * {
  padding-left: 0.4rem;
  padding-right: 0.4rem;
}
.navbar .right-controls .mat-icon {
  font-size: 1.4em;
  color: #7fa1bf;
}

.batch-buble .notifications-count {
  position: relative;
  top: -0.9rem;
  right: 0.5rem;
  background: rgb(245, 108, 45);
  border-radius: 0.5rem;
  font-size: 0.6em;
  padding: 0.2rem 0.4rem;
  color: aliceblue;
}
