.mt-1 {
  margin-top: 10px;
}
.mb-1 {
  margin-bottom: 10px;
}
.mt-2 {
  margin-top: 20px;
}
.ml-1 {
  margin-left: 0.4rem;
}
.float-right {
  float: right;
}

.p-2 {
  padding: 0.4rem;
}
.p-1 {
  padding: 0.2rem;
}
.p-0 {
  padding: 0;
}

.d-flex {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: .4em;
  padding: 0 .4em;
}
.d-nowrap {
  white-space: nowrap;
}

.bg-light{
  background: #f2f2f2;
}
.text-right{
  text-align: right;
}