body {
  width: 100vw;
  padding: 0;
  margin: 0;
}

.table-scrollable {
  overflow-x: auto;
}

.bg-image {
  min-height: calc(100vh - 20px);
  filter: blur(8px);
  -webkit-filter: blur(8px);
  margin-right: 20px;

  background-image: url(./images/truck_img.v1.png);
  background-size: cover;
  width: 100%;
}
#app {
  background: rgb(255, 255, 255);
  width: 100vw;
  height: 100vh;
}

.list-toolbar {
  display: flex;
  justify-content: space-between;
  margin-bottom: 0.4rem;
  align-items: center;
}
.app-bg-primary {
  background: #f26522;
}

.nav-item > .nav-link {
  padding: 0.2rem 0.4rem;
}

.loading-indicator {
  position: fixed;
  top: 90%;
  left: 50%;
  margin-top: -50px;
  margin-left: -50px;
  padding: 0.8rem;
  z-index: 1000;
  background: #333;
  border-radius: 0.2rem;
  color: #fff;
}

.main-nav {
  box-shadow: 2px 3px 5px #c0b5b2;
}

.login-outer-form-wrapper {
  display: flex;
  height: 100vh;
  justify-content: center;
}

@media only screen and (min-width: 600px) {
  .login-outer-form-wrapper {
    align-items: center;
  }
}
